<ion-header color="#e7c450 ">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button fill="clear " defaultHref="/menu"></ion-back-button>
        </ion-buttons>
        <h2 class="div-letra" align-center>                Acerca de...</h2>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card class="ion-text-center">
        <ion-grid>

            <ion-col>
                <br>
                <br>
                <ion-row>
                    <ion-col>
                        <ion-img text-center src="assets/img/descarga.png" style="height: 60px "></ion-img>
                    </ion-col>
                </ion-row>
                <h2>APLICACIONES MÓVILES</h2>
                <div class="alinear">
                    <ion-img text-center src="assets/img/logo.png" style="height: 60px " align-right></ion-img>
                </div>
                <div class="space">
                    <p>Información del Alumno: </p>
                    <h4>Luis Angel Palomares Villalba</h4>
                    <h4>Matrícula: 156030</h4>
                </div>
            </ion-col>
        </ion-grid>
    </ion-card>


</ion-content>